.contenedor-encabezado {
  background-color: aqua;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.titulo-principal {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto;
  
  font-weight: 800; 
  font-size: 2.5rem; 

  color: #1a202c; 
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.mensaje-bienvenida {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto;
  

  font-size: 1rem;

  color: #1a202c;
  letter-spacing: -0.03em;
}

.boton-simple {
  display: inline-block;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, sans-serif;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  background-color: beige;
}

.boton-cerrar-sesion {
  display: inline-block;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, sans-serif;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  background-color: red;
}
